{
  "openapi": "3.1.0",
  "info": {
    "title": "ShinJitsu API",
    "description": "Document fraud detection API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.the-no-corp.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/analyze": {
      "post": {
        "tags": [
          "analyze"
        ],
        "summary": "Analyze Document",
        "description": "Analyze a document for fraud indicators.\n\nRequires API token authentication via Authorization header:\n```\nAuthorization: Bearer shj_your_api_token_here\n```\n\nSupported file types:\n- JPEG images (.jpg, .jpeg)\n- PNG images (.png)\n- PDF documents (.pdf)",
        "operationId": "analyze_document_v1_analyze_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Bearer token: 'Bearer shj_...'",
              "title": "Authorization"
            },
            "description": "Bearer token: 'Bearer shj_...'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_analyze_document_v1_analyze_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AnalyzeResponse": {
        "properties": {
          "scan_id": {
            "type": "string",
            "title": "Scan Id"
          },
          "risk_score": {
            "type": "number",
            "title": "Risk Score"
          },
          "verdict": {
            "type": "string",
            "title": "Verdict"
          },
          "indicators": {
            "items": {
              "$ref": "#/components/schemas/src__controllers__v1__demo__FraudIndicator"
            },
            "type": "array",
            "title": "Indicators"
          },
          "summary": {
            "type": "string",
            "title": "Summary"
          },
          "processing_time_ms": {
            "type": "integer",
            "title": "Processing Time Ms"
          },
          "file_name": {
            "type": "string",
            "title": "File Name"
          },
          "file_type": {
            "type": "string",
            "title": "File Type"
          }
        },
        "type": "object",
        "required": [
          "scan_id",
          "risk_score",
          "verdict",
          "indicators",
          "summary",
          "processing_time_ms",
          "file_name",
          "file_type"
        ],
        "title": "AnalyzeResponse",
        "description": "Response from document analysis."
      },
      "Body_analyze_document_v1_analyze_post": {
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "title": "File"
          }
        },
        "type": "object",
        "required": [
          "file"
        ],
        "title": "Body_analyze_document_v1_analyze_post"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "src__controllers__v1__demo__FraudIndicator": {
        "properties": {
          "service": {
            "type": "string",
            "title": "Service"
          },
          "type": {
            "type": "string",
            "title": "Type"
          },
          "severity": {
            "type": "string",
            "title": "Severity"
          },
          "score": {
            "type": "number",
            "title": "Score"
          },
          "description": {
            "type": "string",
            "title": "Description"
          }
        },
        "type": "object",
        "required": [
          "service",
          "type",
          "severity",
          "score",
          "description"
        ],
        "title": "FraudIndicator",
        "description": "A single fraud detection indicator."
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token (format: shj_xxx)"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}