/*
ShinJitsu API

Document fraud detection API

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package shinjitsu

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// AnalyzeAPIService AnalyzeAPI service
type AnalyzeAPIService service

type ApiAnalyzeDocumentV1AnalyzePostRequest struct {
	ctx context.Context
	ApiService *AnalyzeAPIService
	authorization *string
	file *os.File
}

// Bearer token: &#39;Bearer shj_...&#39;
func (r ApiAnalyzeDocumentV1AnalyzePostRequest) Authorization(authorization string) ApiAnalyzeDocumentV1AnalyzePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiAnalyzeDocumentV1AnalyzePostRequest) File(file *os.File) ApiAnalyzeDocumentV1AnalyzePostRequest {
	r.file = file
	return r
}

func (r ApiAnalyzeDocumentV1AnalyzePostRequest) Execute() (*AnalyzeResponse, *http.Response, error) {
	return r.ApiService.AnalyzeDocumentV1AnalyzePostExecute(r)
}

/*
AnalyzeDocumentV1AnalyzePost Analyze Document

Analyze a document for fraud indicators.

Requires API token authentication via Authorization header:
```
Authorization: Bearer shj_your_api_token_here
```

Supported file types:
- JPEG images (.jpg, .jpeg)
- PNG images (.png)
- PDF documents (.pdf)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyzeDocumentV1AnalyzePostRequest
*/
func (a *AnalyzeAPIService) AnalyzeDocumentV1AnalyzePost(ctx context.Context) ApiAnalyzeDocumentV1AnalyzePostRequest {
	return ApiAnalyzeDocumentV1AnalyzePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AnalyzeResponse
func (a *AnalyzeAPIService) AnalyzeDocumentV1AnalyzePostExecute(r ApiAnalyzeDocumentV1AnalyzePostRequest) (*AnalyzeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnalyzeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyzeAPIService.AnalyzeDocumentV1AnalyzePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analyze"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
